#chatbox {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 400px;
    height: 90%;
    background-color: #c1dcf7;
    border: 1px solid #65a9ec;
    border-radius: 5px;
    display: none;
    flex-direction: column;
}

#chatbox-header {
    background-color: #151cef;
    color: white;
    padding: 14px;
    display: flex;
    justify-content: space-between;
}

#chatbox-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#chatbox-footer {
    padding: 10px;
    border-top: 1px solid #ced4da;
    display: flex;
    justify-content: space-between;
    border-radius: 40%;
}

#open-chatbox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
}

#message-input {
    width: 100%;
    margin-right: 10px;
    border: none;
    border-radius: 15px;
    padding: 15px 15px;
}

#send-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25%;
    padding: 5px 10px;
    cursor: pointer;
}

#messages {
    list-style-type: none;
    padding: 0;
}

#messages .left-align {
    text-align: left;
    background-color: #877d7d;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: block;
    width: fit-content;
    clear: both;
}

#messages .right-align {
    text-align: right;
    background-color: #6f73ed;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: block;
    width: fit-content;
    clear: both;
    float: right;
}

/* Style for chat messages */
#messages li {
    max-width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

/* Differentiate between human and chatbot messages */
#messages li.human {
    align-self: flex-end;
    background-color: #0084ff;
    color: white;
    border-radius: 15px 15px 0 15px;
    /* top-left, top-right, bottom-right, bottom-left */
}

#messages li.chatbot {
    align-self: flex-start;
    background-color: #f0f0f0;
    color: #151cef;
    border-radius: 15px 15px 15px 0;
    /* top-left, top-right, bottom-right, bottom-left */
}

/* Style for scrollbar */
#messages {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

#messages::-webkit-scrollbar {
    width: 6px;
}

#messages::-webkit-scrollbar-track {
    background: transparent;
}

#messages::-webkit-scrollbar-thumb {
    background-color: rgba(211, 209, 209, 0.5);
    border-radius: 20px;
    border: transparent;
}
